Repository sgri/docker-with-automatic1111: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_cuda, run_a1111

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@2 # latest major as of 2025‑07

workflows:
  detect-changes:
    jobs:
      - path-filtering/filter:
          name: detect-dirs
          base-revision: main          # compare against main
          config-path: .circleci/continue.yml
          mapping: |                   # path‑to‑param map (regex  param  value)
            cuda-with-python/.*        run_cuda  true
            automatik1111/.*           run_a1111 true

Create group
  automatik1111/run.sh
Due: run_a1111

Cleanup
  cuda/Dockerfile
Due: none

Cleanup
  cuda-with-python/Dockerfile
Due: run_cuda

Cleanup
  automatik1111/Dockerfile
Due: run_a1111

Use environment variables.
  automatik1111/entry.sh
  automatik1111/run.sh
Due: run_a1111

Improvements
  .circleci/config.yml
  .circleci/continue.yml
  README.md
  a1111.sh
  a1111/Dockerfile
  a1111/build.sh
  a1111/entry.sh
  a1111/start.sh
  automatik1111/entry.sh
  automatik1111/run.sh
  cuda-with-python/Dockerfile
  cuda/Dockerfile
Due: run_cuda, run_a1111

Switch to GHCR
  .circleci/continue.yml
  a1111.sh
  a1111/Dockerfile
  cuda-with-python/Dockerfile
  cuda/Dockerfile
Due: run_cuda

Update README
  README.md
Due: none

Fixed label.
  a1111/Dockerfile
Due: none

Update README
  README.md
  a1111/Dockerfile
Due: none

Fixed the link to Stable Diffusion model.
  a1111.sh
  a1111/Dockerfile
  a1111/entry.sh
Due: none

Update README.md
  README.md
Due: none

Forward signals down the chain of processes.
  a1111.sh
Due: none

Added README ukrainian version.
  README_UA.md
Due: none

Fixed documentation.
  README.md
  a1111.sh
  a1111/build.sh
Due: none

Fixed documentation.
  README.md
Due: none
