Repository sgri/docker-with-automatic1111: changes, and which CircleCI parameters are due for each by the changed paths.
All: run_cuda, run_a1111

.circleci/config.yml:

version: 2.1
setup: true

orbs:
  path-filtering: circleci/path-filtering@2 # latest major as of 2025‑07

workflows:
  detect-changes:
    jobs:
      - path-filtering/filter:
          name: detect-dirs
          base-revision: main          # compare against main
          config-path: .circleci/continue.yml
          mapping: |                   # path‑to‑param map (regex  param  value)
            cuda-with-python/.*        run_cuda  true
            automatik1111/.*           run_a1111 true

Use CUDA
  automatik1111/Dockerfile
  automatik1111/build.sh
  automatik1111/run.sh
  cuda-with-python/Dockerfile
Due: run_cuda, run_a1111

Simplify build scripts.
  .circleci/continue.yml
  automatik1111/build.sh
  automatik1111/run.sh
  cuda-with-python/build.sh
Due: run_cuda, run_a1111

Test for video card.
  automatik1111/entry.sh
Due: run_a1111

Test for video card.
  .circleci/continue.yml
Due: none

Test for video card.
  cuda-with-python/Dockerfile
Due: run_cuda

Updated build script.
  .circleci/config.yml
  .circleci/continue.yml
  cuda-with-python/Dockerfile
  cuda/Dockerfile
  cuda/build.sh
Due: run_cuda

Updated build script.
  .circleci/continue.yml
Due: none

Fixed error.
  cuda-with-python/Dockerfile
Due: run_cuda

Fixed error.
  .circleci/continue.yml
Due: none

Pass image as option.
  automatik1111/run.sh
Due: run_a1111

Fixed error
  cuda-with-python/Dockerfile
Due: run_cuda

Fixed error
  cuda/Dockerfile
Due: none

Install utils, not toolkit
  cuda/Dockerfile
Due: none

Install utils, not toolkit
  cuda-with-python/Dockerfile
Due: run_cuda

Install utils, not toolkit
  cuda-with-python/Dockerfile
  cuda/Dockerfile
Due: run_cuda

Use split into 3 images
  .circleci/config.yml
  .circleci/continue.yml
  automatik1111/Dockerfile
  automatik1111/build.sh
  automatik1111/entry.sh
  automatik1111/run.sh
  cuda-with-python/Dockerfile
  cuda/Dockerfile
  cuda/build.sh
Due: run_cuda, run_a1111

Updated folder.
  automatik1111/run.sh
Due: run_a1111

lspci is needed.
  cuda/Dockerfile
Due: none

libcudnn will be installed later by torch.
  cuda/Dockerfile
Due: none

Better tags.
  .circleci/continue.yml
  cuda/Dockerfile
Due: none

Install basic calculator for webui.sh.
  automatik1111/Dockerfile
Due: run_a1111

Be silent.
  automatik1111/entry.sh
Due: run_a1111

Install nano
  cuda/Dockerfile
Due: none

Simpler way to install python.
  automatik1111/entry.sh
  cuda-with-python/Dockerfile
  cuda-with-python/install-python.sh
  cuda/Dockerfile
Due: run_cuda, run_a1111

Simpler way to install python.
  cuda-with-python/Dockerfile
Due: run_cuda

Simpler way to install python.
  cuda-with-python/Dockerfile
  cuda/Dockerfile
Due: run_cuda

Simpler way to install python.
  cuda/Dockerfile
Due: none

The user should own files generated by the container.
  automatik1111/Dockerfile
  automatik1111/entry.sh
  automatik1111/run.sh
  automatik1111/start.sh
  cuda-with-python/Dockerfile
  cuda/Dockerfile
Due: run_cuda, run_a1111
